*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color:antiquewhite;

}

nav{
    display: flex;
    width: 95%;
    margin: auto;
    padding: 5px 5;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 25px 10px;
}

nav ul li a{
    text-decoration: none;
    color:#212121;
    font-weight:bold;
}

nav ul li a:hover{
    color: orange;
}

.detel{
    margin-left: 5%;
    margin-top: 5%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 15px;
}

span{
    color:orange;
}

.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background:orange;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 10px;
}

.images{
    width: 40%;
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 80px;
}

.images img{
    height: 105%;
    position: absolute;
    left: 45%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .rainbow{
    bottom: 40px;
}

.images:hover .GIRL{
    left: 20%;
}

body {
    background-color: #613613;
    font-family: Helvetica, sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #613613;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 30px;
    right: -17px;
    background-color: #fff;
    border: 4px solid #613613;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 5px 30px;
    background-color:burlywood;
    position: relative;
    border-radius: 50px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 500px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 55px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }
  
  .w3-card{
    background-color:burlywood;
  }
  
  .section{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    text-align:center;
  }

  .sectionn{
    min-height: 50vh;
  }

  .heroo{
    width:70%;
    margin: auto;
    padding:10px 0px;
  }
  
  img{
    margin:auto;
    display: block;
    margin-top: 30px;
    height: 220px;
    border-radius: 50%;
    border:5px;
  }

content{
  font-size: 15px;
  color:black;
  line-height: 2;
}

*.containerr{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
  display: flex;
  justify-content:center;
  align-items:center;
  min-height: 100vh;
  background:antiquewhite;
}

.containerr{
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  gap: 40px;
}

.containerr .progress
{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: #fff;
  background: #444 linear-gradient(to right, transparent 50%, var(--clr) 0);
}

.containerr .progress h3
{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  z-index: 1;
  font-weight: 500;
}

.containerr .progress h3 span
{
  font-size: 0.65em;
  font-weight: 400;
}

.containerr .progress h4
{
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 500;
  color: var(--clr);
  text-transform: uppercase;
}

.containerr .progress::before
{
  content: '';
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;
}

.containerr .progress::after
{
  content: '';
  position: absolute;
  inset: 10px;
  border-radius: 50%;
  background:#222;
}

.containerr .progress::before
{
  background: var(--clr);
  transform: rotate(calc(((var(--i) - 50) * 0.01turn )));
}
/* if value is less than 50%, then */
.containerr .progress.less::before
{
  background:#212121;
  transform: rotate(calc(((var(--i) - 0) * 0.01turn )));
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 2px solid #613613;
  margin-top: 3px;

  margin-bottom: 10px;
  resize: vertical;
}

input[type=submit] {
  background-color: #613613;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#613613;
}

.zuraa {
  margin-top: 3%;
}

.zura {
  margin-top: 2%;
}

.progress {
  margin-bottom:2%;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

ul
{
    list-style-type:disc;
    margin-left: 30px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-instagram {
  background:purple;
  color: white;
}

